<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Search hospital..."
          (keyup)="search(txtpattern.value)"
          #txtpattern
        />
      </div>
    </div>
  </div>
</div>
<div>
  <div class="row animated fadeIn fast" *ngIf="loading">
    <div class="col-12">
      <div class="alert alert-info text-center" role="alert">
        <h4 class="alert-heading">Loading</h4>
        <i class="fa fa-spin fa fa-refresh fa-2x"></i>
        <p class="mb-0">Please wait</p>
      </div>
    </div>
  </div>

  <div class="row animated fadeIn fast" *ngIf="!loading">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-8">
              <h4 class="card-title">Hospitals | ({{ hospitals.length }})</h4>
              <h6 class="card-subtitle">Partner organizations</h6>
            </div>
          </div>

          <div class="col text-right">
            <button class="btn btn-primary" (click)="addHospital()">
              <i class="fa fa-hospital-o"> </i>
              New hospital
            </button>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Picture</th>
                <th>Name</th>
                <th class="text-nowrap">Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let hospital of hospitals">
                <td class="text-center">
                  <img
                    [src]="hospital.img | image: 'hospitals'"
                    class="avatar cursor"
                    (click)="openModal(hospital)"
                  />
                </td>
                <td>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Hospital's name"
                    [(ngModel)]="hospital.name"
                  />
                </td>

                <!-- <td>{{ user.name }}</td> -->

                <td class="text-nowrap text-center">
                  <a
                    data-toggle="tooltip"
                    (click)="saveHospital(hospital)"
                    data-original-title="save"
                    class="cursor"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    data-toggle="tooltip"
                    data-original-title="Delete"
                    (click)="removeHospital(hospital)"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <button class="btn btn-secondary">Previous</button>
            &nbsp;
            <button class="btn btn-secondary">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
