<div class="row">
  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctors</h4>
        <h6 class="card-subtitle">Profile</h6>

        <form
          class="form p-t-20"
          [formGroup]="doctorForm"
          (submit)="saveDoctor()"
        >
          <div class="form-group row">
            <label for="exampleInputuname" class="col-sm-3 control-label"
              >Picture</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <img
                  class="w-200"
                  src="http://localhost:3000/api/uploads/users/3ec7b1c2-97c2-47b8-8a3c-4349c6a8f074.jpg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="exampleInputuname" class="col-sm-3 control-label"
              >Name</label
            >
            <div class="col-sm-9">
              <div class="input-group">
                <div class="input-group-addon"><i class="ti-user"></i></div>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputuname"
                  placeholder="Name"
                  formControlName="name"
                />
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 control-label">Hospital</label>
            <div class="col-sm-9">
              <div class="input-group">
                <select class="form-control" formControlName="hospital">
                  <option value="">Select</option>

                  <option
                    *ngFor="let hospital of hospitals"
                    [value]="hospital._id"
                  >
                    {{ hospital.name }}
                  </option>
                  <!-- <option for="exampleInputEmail1">hospital 3</option> -->
                </select>
              </div>
            </div>
          </div>

          <button
            type="submit"
            [disabled]="doctorForm.invalid"
            class="btn btn-success waves-effect waves-light m-r-10"
          >
            <i class="fa fa-save"></i>
            Save
          </button>
          <button
            type="submit"
            class="btn btn-inverse waves-effect waves-light"
          >
            Cancel
          </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col animated fadeIn fast" *ngIf="selectedHospital">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <h6 class="card-subtitle">{{ selectedHospital.name }}</h6>
        <div class="text-center">
          <img
            class="img-thumbnail"
            [src]="selectedHospital.img | image: 'hospitals'"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</div>
