<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <input
          type="text"
          class="form-control"
          placeholder="Search doctors..."
          (keyup)="search(txtpattern.value)"
          #txtpattern
        />
      </div>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="loading">
  <div class="col-12">
    <div class="alert alert-info text-center" role="alert">
      <h4 class="alert-heading">Loading</h4>
      <i class="fa fa-spin fa fa-refresh fa-2x"></i>
      <p class="mb-0">Please wait</p>
    </div>
  </div>
</div>

<div class="row animated fadeIn fast" *ngIf="!loading">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Doctors</h4>
        <h6 class="card-subtitle">
          They're associate partners an third-party consultor's
        </h6>

        <div class="col text-right">
          <div>
            <a class="btn btn-primary" routerLink="/dashboard/doctor/new">
              <i class="fa fa-hospital-o"> </i>
              New Doctor
            </a>
          </div>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Picture</th>
                <!-- <th>Email</th> -->
                <th>name</th>
                <th class="text-nowrap">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let doctor of doctors">
                <td class="text-center">
                  <img
                    [src]="doctor.img | image: 'doctors'"
                    class="avatar cursor"
                    (click)="openModal(doctor)"
                  />
                </td>
                <td>{{ doctor.name }}</td>
                <!-- <td>{{ doctor.name }} </td> -->
                <!-- <td></td> -->
                <!-- <td>
                  <select class="form-control">
                    <option value="ADMIN_ROLE">Admin</option>
                    <option value="USER_ROLE">User</option>
                  </select>
                </td> -->
                <!-- <td>{{ user.name }}</td> -->
                <!-- <td>
                  <span class="label label-danger">Google</span>
                  &nbsp;
                  <span class="label label-info">Email</span>
                </td> -->
                <td class="text-nowrap text-center">
                  <a
                    [routerLink]="['/dashboard/doctor', doctor._id]"
                    data-toggle="tooltip"
                    data-original-title="Edit"
                  >
                    <i class="fa fa-pencil text-inverse m-r-10"></i>
                  </a>
                  <a
                    data-toggle="tooltip"
                    data-original-title="Delete"
                    (click)="deleteDoctor(doctor)"
                    class="cursor"
                  >
                    <i class="fa fa-close text-danger"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <button class="btn btn-secondary">Previous</button>
            &nbsp;
            <button class="btn btn-secondary">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
